*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: lavender;
    display: grid;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    place-items: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    width: 600px;
    height: 550px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 1 20px 30px rgba(0,0,0,0.185);
}

.container::after
{
    position:absolute;
    background-image: linear-gradient(to bottom right,#ff9ec4,#ffd07e);
    width: 900px;
    height: 900px;
    z-index: -1;
    border-radius:50%;
}
.container-close{
    position:absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: larger;
    color: #2e4052;
    border-radius: 50%;
    box-shadow: 1px 10px 20px black;
    cursor: pointer;
}
img{
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.container-text
{
    padding: 10px 30px;

}
h2{
    font-size: larger;
    color:#1a2350;
    text-shadow:0,6px,20px blue;
}
p{
    font-size: 15px;
    color: #3b4169;
}
input,button{
    width: 100%;
    border:none;
    padding: 15px;
    border-radius: 4px;
}
input
{
    border: 2px solid #daddec;
    margin-top: 5px 0 10px;
    font-size: large;
    color:#1a2350
}
button{
    background-image: linear-gradient(to bottom right,#ff9ec4,#ffd07e);
    color: #fff;
    cursor: pointer;
    font-size: large;
    box-shadow: 1px 10px 20px #1a2350;
    display: block;
    margin-bottom: 5px;
}

span
{
    display: block;
    text-align: center;
    color: #74798d;
    font-size: 15px;
    
}
h5{
    color: red;
}
a:hover{
    color: red;
    background-color: aqua;

}
button:hover{
    background-color: lavender;
}